DISCORD_TOKEN=

DEBUG=*
LUMI_STATIC_DB_DIR=/app/run/static
LUMI_STATE_DB_DIR=/app/run/state
LUMI_GAME_DB_NAME=game
LUMI_LFG_DB_NAME=lfg

DOCKER_COMPOSE_ENV_FILE=.env.docker
LUMI_STATE_DB_HOST_DIR=./run/state